{% extends "base.html" %}
{% block title %}Create Event{% endblock %}
{% block content %}

<h2>Create Event</h2>

<form method="POST">
    <input class="form-control mb-2" name="title" placeholder="Title" required>
    <textarea class="form-control mb-2" name="description" placeholder="Description"></textarea>
    <input class="form-control mb-2" type="date" name="event_date" required>
    <input class="form-control mb-2" type="number" name="reminder_days" value="0">
    <button class="btn btn-success">Create</button>
</form>

{% endblock %}