<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>

    <h1>Welcome, {{ current_user.username }}</h1>

    <a href="{{ url_for('create_event') }}">+ Create New Event</a> |
    <a href="{{ url_for('logout') }}">Logout</a>

    <hr>

    <h2>Upcoming Events</h2>

    {% if upcoming_events %}
    {% for event, days_left in upcoming_events %}
    <div style="margin-bottom:15px;">
        <strong>
            <a href="{{ url_for('event_detail', event_id=event.id) }}">
                {{ event.title }}
            </a>
        </strong>
        <br>
        Date: {{ event.event_date }} <br>
        {{ days_left }} days left
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <p>No upcoming events in reminder range.</p>
    {% endif %}

</body>

</html>