<h2>Edit Event</h2>

<form method="POST">
    <label>Title</label><br>
    <input type="text" name="title" value="{{ event.title }}"><br><br>

    <label>Description</label><br>
    <textarea name="description">{{ event.description }}</textarea><br><br>

    <label>Date</label><br>
    <input type="date" name="event_date" value="{{ event.event_date }}"><br><br>

    <label>Reminder Days</label><br>
    <input type="number" name="reminder_days" value="{{ event.reminder_days }}"><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="{{ url_for('dashboard') }}">Back</a>