{% extends "base.html" %}
{% block title %}Edit Event{% endblock %}
{% block content %}

<h2>Edit Event</h2>

<form method="POST">
    <input class="form-control mb-2" name="title" value="{{ event.title }}" required>
    <textarea class="form-control mb-2" name="description">{{ event.description }}</textarea>
    <input class="form-control mb-2" type="date" name="event_date" value="{{ event.event_date }}">
    <input class="form-control mb-2" type="number" name="reminder_days" value="{{ event.reminder_days }}">
    <button class="btn btn-warning">Update</button>
</form>

{% endblock %}